/* Banner part style */
.header {

    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    margin: 50px 140px;
    border: 16px;
}

.title {

    padding: 177px 344px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 632px;
}

#tit1 {

    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#tit2 {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* section 2 style */
.section2 {

    width: 1500px;
    height: 733 5px;
    background: #FFF;
}

#t1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#t2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#t3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img {
    padding: 0px 399px;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

/* section 3 style */
.section3 {

    display: flex;
    margin: 140px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 140px;

    background-image: url('/resources/Vectorrr.png');
    background-repeat: no-repeat;

}

.tt1 {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.p1 {

    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

#bt {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* text-transform: uppercase; */
}

.ss3 {
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    justify-content: center;
    /* width: 319.83px; */
    /* height: 464.662px; */
    /* padding: 10px; */
    /* flex-direction: column; */

}

#s3img {
    /* display: flex; */
    /* width: 319.83px; */
    /* height: 464.662px; */
    /* padding: 10px; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-shrink: 0; */

}

/* section 4 style */

.s4 {
    padding: 140px;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    margin: auto 140px;
    width: 1200px;
    height: 300px;
    /* flex-shrink: 0; */
    background-color: rgb(242, 208, 214);
}

.p4 {
    text-align: center;

    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* text-transform: capitalize; */
}

.tt4 {
    color: red;
}

.b4 {

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* section 5 */

.p5 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.section5 {
    justify-content: center;
    text-align: center;
    display: flex;
    width: 1400px;
    height: 733 5px;
    margin: 140px;
}

.s5-2 {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
}

.im {
    padding: 49px;
}

/* section 6 style */
.section6 {
    width: 1400px;
    height: 733 5px;
    margin: 140px;
}

.s6-1 {

    text-align: center;

}

.im1 {
    img width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: url('/resources/Group\ 44.png'), lightgray -59.98px 0px / 151.553% 100%;
    background-repeat: no-repeat;
}

.s62 {

    border-radius: 16px 0px 16px 16px;
    background: #F00;
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    /* background-position: bottom; */
    /* display: flex; */
}

/* section7 */
.section7 {
    width: 1400px;
    height: 733 5px;
    background: #FFF;
    margin: 140px;
    padding-left: 150px;
}

.s7p {

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.s7-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.s7-img img {

    border: 2px solid gray;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px rgb(34, 24, 24);
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.s7-img img:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}

/* section8 */

.section8 {

    justify-content: center;
    text-align: center;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

    margin: 140px;

    padding: 50px;
}

#s8t {

    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.inn {
    /* justify-content: center; */
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    margin-left: 320px;


}

.inn1 {

    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.inn2 {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.footer {
    margin: 140px;
    padding: 150px;
    width: 1300px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;

}

.ft1 {
    justify-content: space-between;
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.ft2 {

    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
    padding-left: 50%;

}

.ft3 {
    /* padding: 50px; */
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
}

